.DS_Store
__pycache__/
*.py[cod]
.venv/
results/
dataset/*/images/
dataset/ai2d/question.jsonl
dataset/chartqa/question.jsonl
dataset/mmmu/question.jsonl
dataset/textvqa/question.jsonl
raw/multimodal/
